{{ define "start" }}
{{ template "header" }}
        <h3>Logged as Id {{.Id}}</h3>
        <br>
        <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Password</th>
                <th>Send Money</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{range.UserResponse}}
            <tr>
                <td>{{.Id}}</td>
                <td>{{.Username}}</td>
                <td>{{.Password}}</td>
                <td><div class="form-group">
                  <label for=""></label>
                  <input type="number"
                    class="form-control" name="tokens" id="tokens" aria-describedby="helpId" placeholder="">
                  <small id="helpId" class="form-text text-muted">Insert The Tokens Here</small>
                </div></td>
                <td>  
                    <a name="" id="" class="btn btn-success" href="#" role="button">Send</a>
                </td>
            </tr>
            {{end}}
        </tbody>
        </table>
{{ template "footer" }}
{{end}}